@inherits EchoBase
@page "/echo"

<h1>Echo</h1>
<h3 class="text-secondary">gRPC Demo</h3>

<p>This component demonstrates gRPC requests and their responses.</p>

<h5 class="text-primary">Enter you name</h5>

<input type="text" @bind="@(Name)" @bind:event="oninput" />

<p />

<button class="btn btn-primary" disabled="@(!ValidName)" @onclick="SendMessage">Send</button>

<p />

<h3 hidden="@(!HasResponse)">Echoed: @Response</h3>

<p />

<span class="alert-danger" hidden="@(!HasError)">ERROR: @Error</span>
